body{
    font-size: 12px;
    /* background-color: #f9f9f9;*/
}


.bonde{
    /*  background: #f1f1f1;*/
    color: aliceblue;
    line-height: 50px;
    margin-left: 10px;
    height: 77px;
}
#bar{
    border-bottom: solid 1px;
    border-bottom-color: rgba(23, 23, 23, 0.55);
    padding-bottom: 8px;
    height: 75px;
}
#photo-profil{
    height: 66px;
    padding-top: 5px;
    margin-left: 15px;
    width: 66px;
    border-radius: 106px;

}
.photo-profil{
    height: 45px;
    padding-top: 0;
    margin-left: -62px;
    width: 49px;
    border-radius: 106px;
}


#h2 {
    text-align: -webkit-center;
    margin-top: 1px;
    font-family: 'Cookie', cursive;
    font-size:35px;
}

#bt{

    float: right;
    background: rgba(154, 205, 50, 0);
    margin-top: 18px;
    margin-right: 10px;
    width: 138px;
    border-radius: 0px;
    padding-left: 14px;
    text-align: left;
    color: #fdfdfd;

}
#bt:hover{
    box-shadow: 1px 1px 4px 0px rgb(141, 147, 179);

}
#btn-deconnection{
    border: 0px solid;
    background: rgba(0, 0, 255, 0);
    position: absolute;
    top: 25px;
    left: 242px;
    font-size: 16px;
    color: #fdfdfd;
    /* display: inline-block; */
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 1030!important;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-right: 12px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-top: 6px;
    font-weight: bold;
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    width: 237px;
    line-height: 1.5;
    border-radius: 3px;
}
#span{
    font-family: 'Cookie', cursive;
    font-size: 50px;
    margin-top: 10px;
    color: #333333;
    position: relative;
    left: -213px;
    height: 66px;
}
.span{
    font-family: 'Cookie', cursive;
    font-size: 20px;
    letter-spacing: 3px;
    margin-left: 9px;
}
#div-img-parametre{
    width: 197px;
    margin-left: 200px;
    margin-top: 8px;
}
#img{
    width: 691px;
    height: 268px;

    margin-left: 65px;
}
h4{
    margin-left: 63px;
    width: 162%;
    text-align: center;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
}
.footer{
    background: rgba(0, 0, 0, 0.68);
    color: aliceblue;
}
.social {
    position: relative;
    height: 3em;
    width: 13.5em;
    margin: 150px 450px;
    left: -152px;
    top: -303px;
    margin-bottom: 0px;
}
h6 {
    font-size: 12px;
    margin-left: 165px;
    width: 424px;
    text-align: inherit;
    margin-top: 25px;
}

.social li {
    display: block;
    height: 4em;
    line-height: 4em;
    margin: -2.2em;
    position: absolute;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    width: 4em;

}

.social a {
    color: #fffdf0;
    display: block;
    height: 4em;
    line-height: 6em;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 4em;

}

.social li:hover {
    -webkit-transform: scale(1.3,1.3) rotate(45deg);
    -moz-transform: scale(1.3,1.3) rotate(45deg);
    -ms-transform: scale(1.3,1.3) rotate(45deg);
    -o-transform: scale(1.3,1.3) rotate(45deg);
    transform: scale(1.3,1.3) rotate(45deg);
}

.facebook {
    background: #155b9d;
    left: 0;
    top: 0%;
}

.twitter {
    background: #1a9ec4;
    bottom: 0;
    left: 25%;
}
.facebook2 {
    background: #155b9d;
    left: 50%;
    top: 0%;
}

.twitter2 {
    background: #1a9ec4;
    bottom: 0;
    left: 25%;
}

.pinterest {
    background: #e11a30;
    left: 50%;
    top: 0%;
}
.behance {
    background: #3f7aa3;
    bottom: 0;
    left: 75%;
}
.behance2 {
    background: #3f7aa3;
    top: 0%;
    left: 50%;
}
.behance3 {
    background: #3f7aa3;
    bottom: 0;
    left: 75%;
}

#well {
    background-image: linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    height: 340px;
}

#label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    margin-left: 15px;
    font-weight: bold;
    margin-top: 18px;
}

legend{
    font-weight: 600;
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 25px;
    letter-spacing: 4px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid rgba(72, 71, 71, 0.59);
    font-family: 'Cookie', cursive;
    text-align: center;
}
#social {
    position: relative;
    height: 3em;
    width: 13.5em;
    margin: 150px 450px;
    left: -152px;
    top: -105px;
    margin-bottom: 0px;
}

#mot_de_pass_oblier{

    margin-left: 75px;
}
#foter{
    border-top: solid 1px;
    border-top-color: rgba(171, 170, 170, 0.55);
}
.well{

}

#btn-recherch{
    background-color: rgba(255, 255, 255, 0);
    border-color: aliceblue;
    border-color: #ffffff;
    font-style: italic;
    font-family: cursive;
    height: 33px;
    position: fixed;
    top: 20px;
    left: 888px;
    font-size: 11px;
    border-left: 0px;
    text-decoration: none;
    color: white;
    border-right: 0px;
    outline: none;
    letter-spacing: 2px;
    padding-left: 39px;
    margin-top: 2px;
    width: 214px;
    border-top: 1px solid;
    border-bottom: 0.1em solid;
    border-left: 0.1em solid;
    padding-left: 11px;
    padding-right: 35px;
}
#nom-prifil{
    position: relative;
    font-size: 22px;
    letter-spacing: 3px;
    margin: top;
    border-bottom-width: 48px;
    padding-bottom: 0px;
    top: -5px;
    left: -30px;
    color: white;
}




#barmunu{
    background: url(../image/3.jpg)no-repeat 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 1369px;
    height: 74px;
    position: fixed;
    z-index: 1030!important;
}

.img-logo{
    width: 32px;
    margin: 11px;
    transition: 400ms;

}
#logo-profile{
    margin-right: 14px;
    border-bottom: 1px solid;
    border: 1px solid;
    padding-bottom: 8px;
    border-bottom-color: #fdfdfd;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    transition: 400ms;
}

#contenr-logo{
    position: absolute;
    top: 1px;
    left: 202px;
    transition: 3s;
}
.ani{

    margin-right: 20px;
    border-bottom: 1px solid;
    border: 1px solid;
    padding-bottom: 8px;
    border-bottom-color: #fdfdfd;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    transition: 400ms;
}

.img-logo:hover{
    margin-right: 14px;
    border-bottom: 1px solid;
    border: 1px solid;
    padding-bottom: 8px;
    border-bottom-color: #fdfdfd;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    transition: 400ms;

}

#img-munu{
    margin-right: 59px;

}
#profile{

    border-bottom: 1px solid;
    border: 1px solid;
    padding-bottom: 8px;
    border-bottom-color: #fdfdfd;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    transition: 400ms;
}


a:hover, a:focus {
    color: #337ab7;
    text-decoration: none;
}
#charger{
    position: absolute;
    left: 649px;
    top: 74px;
}

#phot{
    width: 172px;
    height: 172px;
    border-radius: 118px;
    margin-left: 245px;
    margin-top: 134px;
}


#rech{
    position: absolute;
    top: 12px;
    left: 935px;
    font-size: 16px;
    color: #ffffff;
    /* display: inline-block; */
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 1030!important;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 9px;
    border: 1px solid;
    background: blue;
}

#container{

    position: relative;
    top: 90px;
}
#container-parametr{

    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    margin-top: 55px;
}
.lien-parametre{
    margin-left: 93px;
}
.espace{margin-left: 15px;}
a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #e0dfdf;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color:transparent;
    border: 0;
}

#bloc-parametre-general{
    background-color: #fff;
    margin-top: 42px;
    margin-left: 37px;
}

#nom{
    width: 152px;
}

#prenom{
    width: 152px;
    position: relative;
    left: 162px;
    top: -30px;
}
.labe{
    float: right;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
}

#submit{

    margin-left: 359px;
    margin-top: 8px;
}
#reset{

    margin-top: 8px;
}
.row{
    margin-bottom: 3px;
}
#p-parametre{
    font-size: 18px;
    color: #307bb8;
}

#bloc-parametre-groupe{
    background-color: #fff;
    margin-top: 42px;
    margin-left: 37px;
}

#table-groupe{
    font-size: 12px;
    margin-left: 40px;
}
#p-groupe{
    font-size: 18px;
    color: #307bb8;
    margin-bottom: 40px;
}
#p-amis{
    font-size: 18px;
    color: #307bb8;
    margin-bottom: 30px;
}
.ima-amis{
    height: 56px;
    width: 56px;
    border-radius: 29px;
}
.nom-ami{
    margin-top: 15px;
    font-size: 15px;
}

.btn-sup-ami{
    margin-top: 11px;
    margin-left: 10px;
}
.btn-voir-ami{
    margin-top: 11px;
    margin-left: 57px;
}
.list-group {
    padding-left: 0;
    margin-bottom: 18px;
    margin-left: 15px;
    margin-top: 0;
}

#recherch{

    position: relative;
    left: 320px;
    width: 42%;

}
#validate-text{
    height: 28px;
    font-size: 11px;
}
label{
    color: #0f0f0f;
}
.inp{
    width: 359px;


}
.lyawt{
    margin-left: 235px;
}
form{
    margin-left: 62px;
}